.container {
  display: flex;
  margin-left: 0px;
  margin-right: 100px;
}

.form-group{
  max-width: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-left:
   150px;
}

.contactbutton{
  padding-top: 10px;
}