<p>about works!</p>
<div>
  <app-sidebar></app-sidebar>
</div>
<div>
    <p>
        Working flow of management system in backend using java and spring boot as a base framework
    </p>
</div>
<div>
  <div style="width: 640px; height: 480px; margin: 10px; position: relative">
    <iframe
      allowfullscreen
      frameborder="0"
      style="width: 1000px; height: 500px"
      src="https://lucid.app/documents/embedded/a9caaf04-a7a6-436d-bfa1-18e4e2bc1462"
      id="YC0NZ6b0kVQy"
    ></iframe>
  </div>
</div>
